html {
  font-family: Arial;
}

.gameboard {
  margin: 50px auto;
  width: 800px;
}

.header {
  text-align: center;
}

.gameboard-wrapper {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.cell {
  border: 1px solid #ccc;
  width: 48px;
  height: 48px;
  float: left;
  text-align: center;
  font-size: 40px;
}

.state {
  border: 1px solid #ccc;
  border-radius: 3px;
  text-align: center;
  padding: 5px;
  width: 50%;
  margin: 20px auto;
}

